body {
  margin: 0;
  padding: 0;
  background-image: url("./images/background-hero.png");
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  padding: 20px 0;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: orange;
}

.icons {
  display: flex;
  align-items: center;
}

.icons a {
  margin-left: 10px;
}

.hero {
  position: relative;
  text-align: center;
  padding: 100px 0;
  height: calc(100vh - 40px);
}

.hero-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hero-left {
  flex: 1;
  text-align: center;
}

.hero-left h1 {
  font-size: 100px;
  color: orange;
  line-height: 1.2;
  margin-bottom: 10px;
}

.hero-left p {
  font-size: 18px;
  color: #777;
  margin-bottom: 30px;
}

.cta-buttons {
  display: flex;
  justify-content: center;
}

.cta-buttons .cta-button {
  display: inline-block;
  margin-right: 10px;
  padding: 15px 30px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  color: orange;
}

.hero-right {
  flex: 1;
  text-align: right;
}

.hero-right img {
  width: 300px;
  height: auto;
}

.features {
  text-align: center;
  margin-top: 60px;
}

.features-content {
  max-width: 800px;
  margin: 0 auto;
}

.features-content h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.features-content h1 {
  font-size: 48px;
  color: #333;
  margin-bottom: 20px;
}

.features-content p {
  font-size: 18px;
  color: #777;
  margin-bottom: 30px;
}

.features-content .cta-button {
  display: inline-block;
  padding: 15px 30px;
  margin: 20px;
  background-color: #fff;
  color: orange;
  text-decoration: none;
  border-radius: 30px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  font-size: 14px;
}
